.App {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

p {
  margin: 0;
  padding: 0;
}

.title {
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
}

.params {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.params .title {
  margin-bottom: 0;
}


.paramInput {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.paramInput > span {
  min-width: 150px;
}

.fileInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fileInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}


.fileInput .uploadProgress {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.fileInput .rawInput {
  min-width: 400px;
}


.fileInput .objectKey {
  text-align: left;
  text-wrap: wrap;
}

.controls {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.controls div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}