.App {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

.title {
  text-decoration: underline;
}

.apiSettings {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.apiSettings > span {
  min-width: 100px;
}

.fileInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.fileInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}


.fileInput .uploadProgress {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.fileInput .rawInput {
  min-width: 400px;
}


.fileInput .objectKey {
  text-align: left;
  text-wrap: wrap;
}

.controls {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.controls div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}